* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "sans-serif";
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: rgb(244, 240, 240);
    color: white;
  }
  #header {
    
    width: 100%;
    height:83vh;
    background-image: url("images/Iphone.jpg");
    background-size: cover;
    background-position: center;
  }
  .container {
    width: 100%;
    padding: 10px 10%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
  }
  #logo {
    width: 400px;
  }
  nav {
    
    display: flex;
    align-items: center;
    transform: translate(10%,10%);
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 15px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    position: relative;
  }
  nav ul li img {
    padding: auto;
    height: 20px;
    width: auto;}
    
  nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #2491f7;
    left: 0;
    position: absolute;
    bottom: -6px;
    transition: 0.5s;
  }
  nav ul li a:hover::after {
    width: 100%;
  }

  .text {
    position:relative;
    top: 7%;
    right: 50%;
    font-size: 34px;
    transform: translate(50%,50%);
    color: azure;
    text-align: center;
    padding: 10px;
  }
  .button{
    position: absolute;
    bottom: -10vh;
    left: 50%;
    transform: translate(-50%);
    display:flex ;
    gap: 20px;
    
  }
  .oval{
    width: 120px; 
    height: 40px; 
    border-radius: 20px; 
    background-color: rgba(0, 0, 0, 0);
    color: #007bff;
    border: none; 
    font-size: 16px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
    border: 1px solid #007bff;
    
}
.oval:hover{
background-color:#007bff;
color: beige;
}
  

  .header-text {
    margin-top: 30%;
    font-size: 30px;
  }
  .header-text h1{
    font-size: 100px;
    color:wheat;
  }

  #about{
    color: #ababab;
    padding: 80px 0;
  }
  .row{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
  }
#about {
    color: #ababab;
    padding: 80px 0;
    }
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
.about-col-1 {
    flex-basis: 100%;
    margin-top: 10px;
    position: relative;
    width: 100%;
    
    }
.about-col-1 img {
    width: 100%;
    height: 78%;
    display: block;
    
    
    }
    .about-col-2 {
    flex-basis: 100%;
    }
.sub-title {
    color: white;
    font-size: 60px;
    font-weight: 600;
    }
.tab-titles {
    display: flex;
    margin: 20px 0 40px;
    }
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    }
.tab-contents ul li {
    list-style-type: none;
    margin: 10px 0;
    }
    .tab-contents ul li span {
    color: #2491f7;
    font-size: 14px;
    }
.tab-contents {
    display: none;
    }
    .tab-contents.active-tab {
    display: block;
    }
.tab-links::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #2491f7;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
    }
    
.tab-links.active-link::after {
    width: 50%;
    }

    .about-col-1 {
      position: relative; 
      width: 100%; /
  }
  
  .about-col-1 img {
      width: 100%; 
      height: auto; 
      display: block; 
  }
  
  .text-overlay {
      position: absolute; 
      top: 20%; 
      left: 50%; 
      transform: translateX(-50%);
      text-align: center; 
      color: white;
      
  }
  
  .button-overlay {
      position: absolute; 
      bottom: 6%; 
      left: 50%; 
      transform: translateX(-50%); 
      display: flex; 
      gap: 10px; 
  }
  
  
  
  